.navbar {
    font-family: 'Lucida Console', sans-serif;
    padding: 10px;
  }
@media (max-width: 767px) {
    .navbar {
      width: 100%;
    }
}
  .nav-link {
    font-family: 'Lucida Console', sans-serif;
    font-size: 20px;
  }
  a img {
    width: 40px;
    height: 40px;
  }
  
  body {
    background-image: url(/Fotoram.io.jpg);
    background-size: cover;
    
  }
  .fa-arrow-right-from-bracket {
    margin-top: 7px;
    margin-right: 30px;
  }
  /* Container con due righe diviso in sei sezioni*/
  /* 2 righe e 6 colonne di uguale altezza e larghezza*/
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
  }
  .container {
    display: grid;
    padding: relative;
    grid-template-rows: 1fr 1fr; /* Imposta 2 righe di uguale altezza */
    grid-template-columns: 1fr 1fr 1fr; /* Imposta 3 colonne di uguale larghezza */
    height: 100vh;
    padding: 20px;
  }

  /*Gestione della posizione delle sezioni nel container*/
  .section-1 {
      grid-row: 1;
      grid-column: 1;   
  }
  .section-2 {
      grid-row: 1;
      grid-column: 2;
  }
  .section-3 {
      grid-row: 1;
      grid-column: 3;
  }
  .section-4 {
      grid-row: 2; 
      grid-column: 1; 
  }
  .section-5 {
      grid-row: 2; 
      grid-column: 2; 
  }
  .section-6 {
      grid-row: 2; 
      grid-column: 3; 
  }

  /*Stile delle cards dei preferiti*/
  .card {
    font-family: 'Lucida Console', sans-serif;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
    margin: 20px;
  }

 
  @media (min-width: 768px) {
    .col-lg-6 {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
  /* Stile dei pulsanti */
.btn {
  font-family: 'Lucida Console', sans-serif; /* Imposta il font per il testo dei pulsanti come Lucida Console o un sans-serif alternativo */
  line-height: 2; /* Imposta l'altezza della riga per il testo del pulsante a 2 volte l'altezza del carattere */
  background-color: transparent; /* Imposta il colore di sfondo del pulsante come trasparente */
  border: 1px solid transparent; /* Imposta un bordo di 1px per il pulsante come trasparente */
  border-radius: .30rem; /* Aggiunge un bordo arrotondato al pulsante con un raggio di 0.30 rem */
  color: rgba(0,0,0,.5); /* Imposta il colore del testo del pulsante su un nero leggermente trasparente */
  border-color: rgba(0,0,0,.1); /* Imposta il colore del bordo del pulsante su un grigio chiaro trasparente */
  margin-left: 800px; /* Imposta un margine sinistro di 880px per spostare il pulsante a destra */
}

/* Stile dei pulsanti di tipo btn-secondary quando attivi o selezionati */
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  color: #000000; /* Imposta il colore del testo del pulsante quando è attivo o selezionato su nero */
  background-color: transparent; /* Imposta il colore di sfondo del pulsante attivo o selezionato come trasparente */
  border-color: #4e555b; /* Imposta il colore del bordo del pulsante attivo o selezionato su un grigio scuro */
}

/*Bottone per menù a discesa della navbar*/
#usermenu {
  position: absolute;
  left: 80%;
  background-color: rgb(255, 196, 157);
  width: auto; /* Imposta la larghezza automatica */
}

/* Stile del pulsante dropdown al passaggio del mouse */
#dropdownMenuButton:hover {
  background-color: rgb(255, 196, 157); /* Imposta il colore di sfondo del pulsante dropdown al passaggio del mouse come un arancione chiaro */
}

/* Stile del pulsante "togglerButton" al passaggio del mouse */
#togglerButton:hover {
  background-color: rgb(255, 196, 157); /* Imposta il colore di sfondo del pulsante "togglerButton" al passaggio del mouse come un arancione chiaro */
}

/* Stile del footer */
footer {
  background-color: #fc9b00; /* Imposta il colore di sfondo del footer come un arancione scuro */
  color: #000000; /* Imposta il colore del testo del footer su nero */
  padding: 20px; /* Aggiunge uno spazio di riempimento di 20px del footer */
  position: absolute; /* Imposta la posizione del footer come assoluta rispetto al suo contenitore */
  bottom: auto; /* Imposta la posizione del foooter rispetto al bordo inferiore del suo contenitore */
  width: 100%; /* Imposta la larghezza del footer al 100% del suo contenitore */
}

.row a {
  margin-right: 50px;
  color: #fff;
}

.row a:last-child {
  margin-right: 0;
}

/*Gestione stile delle scritte nella card*/
.card-link a {
  font-family: 'Lucida Console', sans-serif;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
  color: #ff9853;
}
/* Stile del primo link all'interno di .card-link */
.card-link a:nth-child(1){
  position:absolute; /* Imposta la posizione del primo link come assoluta */
  bottom: 45px; /* Posiziona il primo link a 45px dal basso */
}

/* Stile del secondo link all'interno di .card-link */
.card-link a:nth-child(2){
  position:absolute; /* Imposta la posizione del secondo link come assoluta */
  bottom:20px; /* Posiziona il secondo link a 20px dal basso */
}

/* Stile del pulsante con id "precedente" */
#precedente {
  font-family: 'Lucida Console', sans-serif; /* Imposta il font del testo del pulsante come Lucida Console o un sans-serif alternativo */
  width: 130px; /* Imposta la larghezza del pulsante a 130px */
  border-radius: .30rem; /* Aggiunge un bordo arrotondato al pulsante con un raggio di 0.30 rem */
  border: 1px solid; /* Imposta un bordo di 1px per il pulsante */
  position: absolute; /* Imposta la posizione del pulsante come assoluta */
  left: 0; /* Posiziona il pulsante all'estremità sinistra */
  bottom: 0; /* Posiziona il pulsante all'estremità inferiore */
  margin-top: 0%; /* Imposta il margine superiore del pulsante a 0% */
  margin-left: 50px; /* Aggiunge un margine sinistro di 50px al pulsante */
}

/* Stile del pulsante con id "successivo" */
#successivo {
  font-family: 'Lucida Console', sans-serif; /* Imposta il font del testo del pulsante come Lucida Console o un sans-serif alternativo */
  width: 130px; /* Imposta la larghezza del pulsante a 130px */
  border-radius: .30rem; /* Aggiunge un bordo arrotondato al pulsante con un raggio di 0.30 rem */
  border: 1px solid; /* Imposta un bordo di 1px per il pulsante */
  position: absolute; /* Imposta la posizione del pulsante come assoluta */
  right: 0; /* Posiziona il pulsante all'estremità destra */
  bottom: 0; /* Posiziona il pulsante all'estremità inferiore */
  margin-top: 0%; /* Imposta il margine superiore del pulsante a 0% */
  margin-right: 50px; /* Aggiunge un margine destro di 50px al pulsante */
}

/* Stile del pulsante "successivo" al passaggio del mouse */
#successivo:hover {
  background-color: rgb(255, 196, 157); /* Imposta il colore di sfondo del pulsante "successivo" al passaggio del mouse come un arancione chiaro */
}