/* Elementi Navbar*/
.navbar {
  font-family: 'Lucida Console', sans-serif;
  font-size: 16px;
  padding: 10px;
}
h3 {
  font-size: 35px;
 
}
.nav-link {
  font-family: 'Lucida Console', sans-serif;
  font-size: 20px;
}
.navbar-light .navbar-toggler {
color: rgba(0,0,0,.5);
border-color: rgba(0,0,0,.1);
height: 46.6px;
}
a img {
  width: 40px;
  height: 40px;
}
  
  @media (max-width: 767px) {
    .navbar {
      width: 100%; /* Imposta la larghezza al 100% quando la larghezza dello schermo è inferiore a 767px */
    }
  }
  
  .nav-link {
    font-family: 'Lucida Console', sans-serif; /* Imposta il font dei link nella barra di navigazione */
    font-size: 20px; /* Imposta la dimensione del font dei link nella barra di navigazione */
  }
  
  a img {
    width: 40px; /* Imposta la larghezza delle immagini all'interno dei link */
    height: 40px; /* Imposta l'altezza delle immagini all'interno dei link */
  }
  
  body {
    background-size: cover; /* Adatta l'immagine di sfondo per coprire l'intero corpo della pagina */
    background-color: lemonchiffon;
  }
  
  
  .fa-user {
    font-size: 20px; /* Imposta la dimensione del font dell'icona utente */
    margin-right: 20px; /* Aggiunge un margine destro all'icona utente */
  }
  
  header h1{
    font-family: "Roboto", sans-serif; /* Cambia il font a tua scelta */
    font-weight: bold; /* Aggiungi la grassetto se necessario */
    color: #333; /* Cambia il colore del testo a tua scelta */
    text-decoration: underline; /* Sottolineatura del testo */
    display: inline-block; /* Evita che la sottolineatura si estenda a tutta la larghezza */
    margin-bottom: 0; /* Rimuove il margine inferiore dal titolo */
  }
  header h2{
    font-family: "Roboto", sans-serif; /* Cambia il font a tua scelta */   
    color: #333; /* Cambia il colore del testo a tua scelta */
    text-decoration: underline; /* Sottolineatura del testo */
    display: inline-block; /* Evita che la sottolineatura si estenda a tutta la larghezza */
    margin-bottom: 0; /* Rimuove il margine inferiore dal titolo */
  }
  #dropdownMenuButton {
    font-family: 'Lucida Console', sans-serif; /* Imposta il font del pulsante di menu a discesa */
    line-height: 2; /* Imposta l'altezza della riga del pulsante di menu a discesa */
    background-color: transparent; /* Imposta il colore di sfondo del pulsante di menu a discesa come trasparente */
    border: 1px solid; /* Imposta il bordo del pulsante di menu a discesa come trasparente */
    border-color: rgba(0,0,0,.1);
    border-radius: .30rem; /* Imposta il bordo arrotondato del pulsante di menu a discesa */
    color: rgba(0,0,0,.5);
    margin-left: 880px;
  }
  
  /* Stile per i pulsanti secondari attivi che non sono disabilitati e non hanno la classe 'disabled' */
  .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: #000000;
  background-color: transparent;
  border-color: #4e555b;
  }
  
  /* Stile per il menu a tendina */
  .dropdown-menu {
  position: absolute;
  left: 85%;
  background-color: rgb(255, 196, 157);
  }
  
  /* Stile per il dropdownMenuButton quando il cursore si trova sopra di esso */
  #dropdownMenuButton:hover {
  background-color: rgb(255, 196, 157);
  }
  
  /* Stile per il togglerButton quando il cursore si trova sopra di esso */
  #togglerButton:hover {
  background-color: rgb(255, 196, 157);
  }
  
  
  /*Stile footer e elementi del footer*/
  footer {
  background-color: #fc9b00;
  color: #000000;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  clear: both;
  }
  .row a {
  margin-right: 50px;
  color: #fff;
  }
  .row a:last-child {
  margin-right: 0;
  }

 .accordion-item{
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif; /* Cambia il font a tua scelta */
  font-weight: lighter; /* Aggiungi la grassetto se necessario */
  color: black; /* Cambia il colore del testo a tua scelta */
  font-size: 20px;
  font-style: italic;
  text-align: center;
 }
